In [1]:
import numpy as np
import pandas as pd
print("NumPy e Pandas funcionando!")

NumPy e Pandas funcionando!

In [2]:
cuisines_df = pd.read_csv("Cuisine_rating.csv") # Carregando os dados
cuisines_df.head

<bound method NDFrame.head of      User ID  Area code            Location  Gender   YOB Marital Status  \
0          1        153  Upper East Side,NY  Female  2006         Single
1          2        123       St. George,NY  Female  1991        Married
2          3        122  Upper West Side,NY    Male  1977         Single
3          4        153  Upper East Side,NY  Female  1956        Married
4          5        129     Central Park,NY    Male  1997         Single
..       ...        ...                 ...     ...   ...            ...
195      196        175       St. George,NY  Female  1982         Single
196      197        170  Upper West Side,NY  Female  2000        Married
197      198        160       St. George,NY  Female  2006         Single
198      199        130       St. George,NY    Male  2002        Married
199      200        140  Upper East Side,NY    Male  2005        Married

         Activity  Budget  Cuisines  Alcohol     Smoker  Food Rating  \
0    Professional       3  Japanese     Never     Never            5
1         Student       3    Indian     Never  Socially            1
2         Student       5   Seafood     Often     Often            5
3    Professional       5  Japanese     Never  Socially            3
4         Student       4  Filipino  Socially     Never            2
..            ...     ...       ...       ...       ...          ...
195  Professional       4    French     Never  Socially            1
196       Student       4   Chinese     Never     Often            1
197  Professional       5  Japanese     Never     Often            5
198       Student       3  Filipino     Never  Socially            3
199       Student       4    French     Never     Never            3

     Service Rating  Overall Rating Often A S
0                 4             4.5        No
1                 1             1.0        No
2                 5             5.0       Yes
3                 1             2.0        No
4                 4             3.0        No
..              ...             ...       ...
195               2             1.5        No
196               2             1.5        No
197               2             3.5        No
198               2             2.5        No
199               2             2.5        No

[200 rows x 15 columns]>

In [3]:
cuisines_df.describe()

,User ID,Area code,YOB,Budget,Food Rating,Service Rating,Overall Rating
count,200.000000,200.000000,200.000000,200.000000,200.000000,200.000000,200.000000
mean,100.500000,141.060000,1984.830000,3.815000,3.220000,3.230000,3.225000
std,57.879185,26.130257,16.809339,1.056578,1.411226,1.526022,1.079445
min,1.000000,101.000000,1955.000000,1.000000,1.000000,1.000000,1.000000
25%,50.750000,123.000000,1971.000000,3.000000,2.000000,2.000000,2.500000
50%,100.500000,135.000000,1987.000000,4.000000,3.000000,3.000000,3.000000
75%,150.250000,158.000000,2000.000000,5.000000,5.000000,5.000000,4.000000
max,200.000000,199.000000,2009.000000,5.000000,5.000000,5.000000,5.000000

In [6]:
cuisines_df['Location'].value_counts()

Location
St. George,NY         46
Upper East Side,NY    30
Riverdale,NY          28
Central Park,NY       24
China Town, NY        22
Market City, NY       20
Upper West Side,NY    18
Central Park,ny        8
Market City, MY        2
Cedar Hill, NY         2
Name: count, dtype: int64